<div class="mess user-<%= message.user.id %>" id="message-<%= message.id %>">
  <small>
    <div class="name-message">
      <strong><%= message.user.name %></strong>
    </div>
  </small>
  <p class="mess-content"><%= message.content %></p>
  <small>
    <div class="name-message date">
      <i><%= message.created_at.in_time_zone("Europe/Paris").strftime("%d/%m/%y à %H:%M") %></i>
    </div>
  </small>
</div>
