<%= render "shared/navbar" %>
<div class="container-chatroom">
    <h1 class="title-chatrooms">Mes conversations</h1>
    <hr>
      <%= link_to "Nouvelle conversation", new_chatroom_path, class: "button" %>
        <% @chatrooms.each do |chatroom| %>
         <div class="card-chatroom">
          <%= link_to chatroom.name.capitalize, chatroom_path(chatroom) %>
          <small class="participants"><%= chatroom.child.name %> / <%= current_user.name %></small>
          <p class="poubelle">
            <%= link_to '<i class="fa-regular fa-trash-can"></i>'.html_safe, chatroom_path(chatroom), data: { turbo_method: :delete, turbo_confirm: "Êtes vous sûr ?" } %>
          </p>
         </div>
        <% end %>
</div>
<%= render "shared/navmenu" %>
