<!-- Button trigger modal -->
<button type="button" class="button-plus" data-bs-toggle="modal" data-bs-target="#exampleModal">
  +
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel">Mon enfant</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <% if current_user.family? %>
          <%= simple_form_for [@child] do |f| %>
            <%= f.input :photo, as: :file %>
            <%= f.input :first_name, label: "Prénom" %>
            <%= f.input :last_name, label: "Nom" %>
            <%= f.input :birthdate, html5: true, label: "Date de naissance" %>
            <%= f.fields_for :nanny_filiation do |filiation_f| %>
              <%= filiation_f.input :user_id, as: :select, collection: User.nanny, label: "Ma nounou" %>
            <% end %>
            <%= f.fields_for :family_filiations do |filiation_f| %>
              <%= filiation_f.input :user_id, as: :select, collection: User.family, label: "Ma famille" %>
            <% end %>
      </div>
      <div class="modal-footer">
      <%= f.button :submit, "Valider" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
