<h2>PROFIL</h2>

<%= cl_image_tag @user.photo.key, height: 40, crop: :thumb, gravity: :face%>
<br>
<h3><%= @user.first_name  %> <%= @user.last_name %></h3>
<br>
<%= @user.role %>
<br>
<% if @user.nanny?  %>
  <% @filiations.each do |filiation| %>
  <%= filiation.child.first_name %>
  <%= link_to "valider", filiation_path(filiation), data: {turbo_method: :patch} %>
  <% end %>
<% end %>
