<div class= "center-div">
<div class="fond">
</div>
  <%= cl_image_tag @user.photo.key, height: 90, width: 90, crop: :thumb, gravity: :face, class: "avatar-profile"%>
  <br>
  <h3 class="profile-name"><%= @user.first_name.capitalize  %> <%= @user.last_name.capitalize %></h3>
  <br>
  <div class="card-bio">
    <h3>Ma Bio</h3>
      <%= @user.bio %>
      <% if current_user == @user %>
        <%= render 'modal_bio' %>
      <% end %>
  </div>
  <% if current_user == @user && current_user.nanny? %>
    <%= render 'show_nanny' %>
  <% elsif current_user == @user && current_user.family? %>
  <div class="fixed-button"><%= render 'modal_add_child' %></div>
    <%= render 'show_family' %>
  <% end %>
</div>
