<div class= "center-div">
  <h2>PROFIL</h2>
   <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
  <%= cl_image_tag @user.photo.key, height: 90, width: 90, crop: :thumb, gravity: :face, class: "avatar-profile"%>
  <br>
  <h3><%= @user.first_name  %> <%= @user.last_name %></h3>
  <br>
  <div class="card-bio">
    <small>Après un baccalauréat litérairee j'ai décidé de me tourner vers la petite enfance et ai donc passé mon CAP afin de vivre de ma passion.</small>
  </div>
  <% if current_user == @user && current_user.nanny? %>
    <%= render 'show_nanny' %>
  <% elsif current_user == @user && current_user.family? %>
    <%= render 'show_family' %>
  <% end %>
</div>
