<%= render "shared/navbar" %>

  <% if current_user.nanny? %>
    <div class="select-children">
      <% @children.each do |child| %>
      <div class="select-child-feed">
        <%= link_to child_feedbacks_path(child), data: { turbo_frame: "feedbacks" } do %>
          <%= cl_image_tag child.photo.key, height: 40, width: 40, crop: :thumb, gravity: :face, class: "avatar"%>
          <p><%= child.first_name %></p>
        <% end %>
      </div>
      <% end %>
    </div>
      <%= turbo_frame_tag "feedbacks" do %>
    <p></p>
    <% end %>
  <% else %>
    <% @children.each do |child| %>
      <div data-controller="calendar" data-calendar-url-value="<%= child_parent_feedbacks_path(child) %>">
        <div class="calendar" >
        <input id="date-calendar" data-calendar-target="date" data-action="change->calendar#submit" >
        </div>
        <div data-calendar-target="input"></div>
      </div>
    <% end %>
  <% end %>

<%= render "shared/navmenu" %>
