<%= render "shared/navbar" %>
<h1>Test Feedbacks</h1>

<% @children.each do |child| %>
  <%= link_to child_feedbacks_path(child) do %>
    <%= cl_image_tag child.photo.key, height: 40, width: 40, crop: :thumb, gravity: :face, class: "avatar"%>
    <p><%= child.first_name %></p>
  <% end %>
<% end %>
<%= render "shared/navmenu" %>
