<%= render "shared/navbar" %>

<% if current_user.nanny? %>
  <div class="select-children" >
    <% @children.each do |child| %>
      <%= link_to child_papers_path(child), data: { turbo_frame: "papers" } do %>
      <div class="select-child-feed" data-controller="select-child-feed"  data-select-child-feed-target="background" data-action="click->select-child-feed#changeColor">
          <%= cl_image_tag child.photo.key, height: 100, width: 100, crop: :thumb, gravity: :face, class: "avatar"%>
          <p><%= child.first_name %></p>
      </div>
      <% end %>
    <% end %>
  </div>
  <%= turbo_frame_tag "papers" do %>
    <p class="no-feedback">Sélectionner un enfant pour ajouter un document</p>
  <% end %>
<% else %>
  <% @children.each do |child| %>
    <%= render "papers/papers", papers: child.papers.order(created_at: :desc), child: child %>

  <% end %>
<% end %>

<%= render "shared/navmenu" %>
