<%= turbo_frame_tag "papers" do %>
<div class="feedback-card">
  <% papers.each do |paper| %>
      <%= link_to child_paper_path(child, paper), class: "paper-link", data: {turbo: "false"} do %>
        <%= image_tag "papers.png" %>
        <p><%= paper.name.capitalize %></p>
      <% end %>
  <% end %>
   <button type="button" class="btn plus fs-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
     <%= link_to "+", new_paper_path, class: "button", data: {turbo: "false"} %>
  </button>
</div>
<% end %>
