<%= render "shared/navbar" %>
<div class="fleche"><%= link_to '<i class="fa-solid fa-arrow-left"></i>'.html_safe, papers_path %></div>
<%= simple_form_for @paper do |f| %>
  <div class="modal-body">
    <fieldset class="mb-3 check_boxes optional post_children">
        <input type="hidden" name="paper[child_id]" value="" autocomplete="off" >
          <div class="children-post-select">
            <% current_user.children.each do |child| %>
            <div class="form-check select-child">
              <input class="form-check-input check_boxes optional visually-hidden"
                    type="radio"
                    value="<%= child.id %>"
                    name="paper[child_id]" id="paper_child_id_<%= child.id %>">
              <label class="form-check-label collection_check_boxes" for="paper_child_id_<%= child.id %>">
                <%= cl_image_tag child.photo.key, height: 40, width: 40, crop: :thumb, gravity: :face, class: "avatar"%>
                <p><%= child.first_name %></p>
              </label>
            </div>
            <% end %>
          </div>
    </fieldset>
    <%= f.input :name, label: "Nom" %>
    <%= f.input :photo, as: :file, label: "Document" %>
  </div>
  <div class="modal-footer">
      <%= f.button :submit, "Valider" %>
  </div>
<% end %>
<%= render "shared/navmenu" %>
