<%= turbo_frame_tag "feedback_diaper", class: "feedback-card" do %>
    <%= simple_form_for [child, diaper_feedback] do |f| %>
      <div class="feedback-rating diaper-rating">
        <%= f.input :category, :as => :hidden %>
        <%= f.input :rating, collection: (1..3).to_a, label: "Couche",input_html: {data: {controller: "star-rating"}} %>
      </div>
      <div class="form-post-header feedback-note">
        <div class="feedback-note-icon " data-bs-toggle="collapse" data-bs-target="#collapse_diaper_<%=diaper_feedback.id%>" aria-expanded="false" aria-controls="collapse_diaper_<%=diaper_feedback.id%>">
          <div class="btn hover-green" >
            <i class="fa-regular fa-pen-to-square hover-green"></i>
            Note
          </div>
        </div>
        <div class="feedback-note-send">
          <div id="collapse_diaper_<%=diaper_feedback.id%>" class="collapse">
            <%= f.input :content, label: false %>
          </div>
          <div class="form-actions button-feedback">
            <%= f.button :submit, "Envoyer"%>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
