<div class="card-com-like">
  <% if PostLike.where(post: post, user: current_user).size == 0 %>
    <%= simple_form_for [post, post_like] do |f| %>
      <i class="fa-solid fa-baby-carriage"></i>
      <%= f.button :submit, "J'aime" %>
    <% end %>
  <% else %>
    <div class="card-unlike">
      <%= link_to "<i class='fa-solid fa-baby-carriage icon-green'></i> J'aime".html_safe , post_like_path(PostLike.where(post: post, user: current_user).first), data: { turbo_method: :delete }, class: "unlike" %>
    </div>
  <% end %>
  <%= render "comments/form", post: post, comment: comment %>
</div>
<div id="collapse<%=post.id%>" class="collapse" aria-labelledby="headingOne">
      <%= simple_form_for [post, comment] do |f| %>
        <%= f.input :content, label: false %>
        <%= f.button :submit, "Valider", class: "valider" %>
      <% end %>
    </div>
