<div class="container-avatars-update-destroy">
  <div class="container-avatar">
    <% post.children.each do |child| %>
      <div class="avatar-name">
        <%= cl_image_tag child.photo.key, height: 60, width: 60, crop: :thumb, gravity: :face, class: "post-child-avatar"%>
        <p class="child-name"><%= child.first_name %></p>
      </div>
    <% end %>
  </div>
  <!-- Update/destroy post -->
  <div class="container-edit-delete">
    <% if post.user == current_user %>
      <!-- Button -->
      <div class="icons-update-delete">
        <p class="card-icon" data-bs-toggle="modal" data-bs-target="#updatePost<%=post.id%>"><i class="fa-regular fa-pen-to-square"></i></p>
        <p class="card-icon"><%= link_to '<i class="fa-regular fa-trash-can"></i>'.html_safe, post_path(post), data: { turbo_method: :delete, turbo_confirm: "Etes vous sûr?" } %></p>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="updatePost<%=post.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title" id="exampleModalLabel">Modifier ce post</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
              <%= simple_form_for post do |f| %>
                <div class="modal-body">
                  <%= f.input :content, label: "Contenu" %>
                  <%= f.input :photos, as: :file, input_html: { multiple: true }, label: "Photos" %>
                  <fieldset class="mb-3 check_boxes optional post_children">
                      <input type="hidden" name="post[child_ids][]" value="" autocomplete="off" >
                        <div class="children-post-select">
                        <% current_user.children.each do |child| %>
                          <div class="form-check select-child">
                            <input class="form-check-input check_boxes optional visually-hidden" type="checkbox" value="<%= child.id %>" name="post[child_ids][]" id="edit_child_ids_<%= post.id %>_<%= child.id %>">
                            <label class="form-check-label collection_check_boxes" for="edit_child_ids_<%= post.id %>_<%= child.id %>">
                              <%= cl_image_tag child.photo.key, height: 40, width: 40, crop: :thumb, gravity: :face, class: "avatar"%>
                              <p><%= child.first_name %></p>
                            </label>
                          </div>
                        <% end %>
                      </div>
                  </fieldset>
                </div>
                <div class="modal-footer">
                  <%= f.button :submit, "Valider" %>
                </div>
              <% end %>

            </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
