<!-- Button -->
<div class="icons-update-delete">
  <p class="card-icon" data-bs-toggle="modal" data-bs-target="#updatePost<%=post.id%>"><i class="fa-regular fa-pen-to-square"></i></p>
  <p class="card-icon"><%= link_to '<i class="fa-regular fa-trash-can"></i>'.html_safe, post_path(post), data: { turbo_method: :delete } %></p>
</div>

<!-- Modal -->
<div class="modal fade" id="updatePost<%=post.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modifier le post</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for post do |f| %>
          <%= f.input :photos, as: :file, input_html: { multiple: true } %>
          <%= f.input :content %>
          <%= f.association :children, as: :check_boxes, collection: current_user.children %>
          <%= f.button :submit %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-primary">Ajouter</button>
      </div>
    </div>
  </div>
</div>
