<!-- Button trigger modal -->
<button type="button" class="btn plus fs-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
  +
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Nouveau post</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <% if current_user.nanny? %>
          <%= simple_form_for post do |f| %>
            <%= f.input :photos, as: :file, input_html: { multiple: true } %>
            <%= f.input :content %>
            <%= f.association :children, as: :check_boxes, collection: current_user.children %>
            <%= f.button :submit %>
          <% end %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-primary">Ajouter</button>
      </div>
    </div>
  </div>
</div>
