<%= turbo_frame_tag "see_like_comments_#{post.id}" do %>
  <!-- number of likes & comments -->
  <div class="container-see-likes-comments">
    <div class="container-see-number-likes-comments">
      <% if post.post_likes.size > 0 %>
        <div class="see-likes-number">
          <p data-bs-toggle="collapse" data-bs-target="#collapselikes<%=post.id%>" aria-expanded="false" aria-controls="collapsecomment<%=post.id%>"><i class="fa-solid fa-heart icon-green"></i> <%= post.post_likes.size %></p>
        </div>
      <% end %>
      <%= render "comments/number_comments", post: post %>
    </div>
    <!-- who likes -->
    <div id="collapselikes<%=post.id%>" class="collapse who-likes" aria-labelledby="headingOne">
      <p>aimé par&nbsp</p>
      <%= post.likers_names %>
    </div>
    <!-- comments -->
    <div id="collapsecomment<%=post.id%>" class="collapse" aria-labelledby="headingOne">
      <%= turbo_frame_tag "comments_#{post.id}" do %>
        <% post.comments.each do |comment| %>
          <%= render "comments/see_comments", comment: comment, comment_like: @comment_like  %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
