<!-- Posts#Index -->
<% @posts.each do |post| %>
  <div class="card-container">
    <!-- photos -->
    <%= render "posts/photos", post: post %>
    <!-- content -->
    <%= render "posts/content", post: post %>
    <!-- Update/destroy post -->
    <% if post.user == current_user %>
      <%= render "posts/modal_update", post: post %>
      <p><%= link_to "Supprimer ce post", post_path(post), data: { turbo_method: :delete } %></p>
    <% end %>
    <!-- new post_like & comments -->
    <%= render "posts/add_like_comment", post: post, post_like: @post_like, comment: @comment %>
    <!-- see post_like & comments -->
    <%= render "posts/see_like_comment", post: post, comment_like: @comment_like %>
  </div>
<% end %>

<% if current_user.nanny?  %>
  <%= render "posts/modal_create", post: @post %>
<% end %>
