 <%#= form_with url: users_path, method: :get, class: "d-flex" do %>
  <%#= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a nanny"
  %>
  <%#= submit_tag "Search", class: "btn btn-primary" %>
<%# end %>

  <% if current_user.nanny? %>
  <button type="button" class="btn plus fs-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
   +
  </button>
  <%= render "posts/modal_create", post: @post %>
<% end %>

<!-- Posts#Index -->
<% @posts.each do |post| %>
  <div class="card-container">
    <!-- avatar des enfant + update/destroy-->
    <%= render "posts/avatar_update_destroy", post: post %>
    <!-- photos -->
    <%= render "posts/photos", post: post %>
    <!-- content -->
    <p class="post-content"><%= post.content %></p>
    <p class="post-date"><%= post.created_at.in_time_zone("Europe/Paris").strftime("posté le %d/%m/%y à %H:%M") %></p>
    <!-- see post_like & comments -->
    <%= render "posts/see_like_comment", post: post, comment_like: @comment_like %>
    <!-- new post_like & comments -->
    <%= render "posts/add_like_comment", post: post, post_like: @post_like, comment: @comment %>
  </div>
<% end %>
<!-- Button trigger modal -->
<% if current_user.nanny?  %>
  <%= render "posts/modal_create", post: @post %>
<% end %>
